<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Contact Detail</ion-title>
      <ion-button class="ion-padding-end" color="danger" (click)="presentAlert()">Delete</ion-button>
      <ion-button class="ion-padding-end" color="dark" (click)="openModal(contact)">Edit</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row class="ion-justify-content-center" *ngIf='!contact || loading'>
    <ion-spinner size="large" name="crescent"></ion-spinner>
  </ion-row>
  <div *ngIf='contact && !loading'>
    <div class="ion-padding" *ngIf="error">
      <ion-text color="danger">{{ error }}</ion-text>
    </div>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4">
        <p>Name :</p>
      </ion-col>
      <ion-col>
        <p>{{contact.name}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4">
        <p>Email :</p>
      </ion-col>
      <ion-col>
        <p>{{contact.email}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4">
        <p>Phone :</p>
      </ion-col>
      <ion-col>
        <p>{{contact.phone}}</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<!-- <ion-content>
  <ion-row class="ion-justify-content-center" *ngIf='!contact || loading'>
    <ion-spinner size="large" name="crescent"></ion-spinner>
  </ion-row>
  <div *ngIf='contact && !loading'>
    <div class="ion-padding" *ngIf="error">
      <ion-text color="danger">{{ error }}</ion-text>
    </div>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4">
        <p>Name :</p>
      </ion-col>
      <ion-col>
        <p>{{contact.name}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4">
        <p>Email :</p>
      </ion-col>
      <ion-col>
        <p>{{contact.email}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4">
        <p>Phone :</p>
      </ion-col>
      <ion-col>
        <p>{{contact.phone}}</p>
      </ion-col>
    </ion-row>
  </div>
</ion-content> -->
