<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Contacts</ion-title>
      <ion-button color="dark" class="ion-padding-horizontal" (click)="openModal()">Add Contact</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-row class="ion-justify-content-center" *ngIf="loading">
    <ion-spinner size="large" name="crescent"></ion-spinner>
  </ion-row>

  <div *ngIf="!loading">
    <div class="ion-padding" *ngIf="error">
      <ion-text color="danger">{{ error }}</ion-text>
    </div>
    <ion-list lines='inset'>
      <ion-item button [routerLink]="[contact.id]" *ngFor="let contact of contacts;">
        <ion-label>
          <h2>{{contact.name}}</h2>
        </ion-label>
        <!-- <ion-icon name="trash"></ion-icon> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="light" (click)="doRefresh()">
    <ion-icon name="refresh"></ion-icon>
  </ion-fab-button>
</ion-fab>